[submodule "sgx-app/sgx_common"]
	path = sgx-app/sgx_common
	url = https://gitlab.securecloud.works/rafael.pires/sgx_common.git
[submodule "sgx-app-mem/sgx_common"]
	path = sgx-app-mem/sgx_common
	url = https://gitlab.securecloud.works/rafael.pires/sgx_common.git
