[submodule "sgx-app/sgx_common"]
	path = sgx-app/sgx_common
	url = https://github.com/rafaelppires/sgx_common.git
[submodule "sgx-app-mem/sgx_common"]
	path = sgx-app-mem/sgx_common
	url = https://github.com/rafaelppires/sgx_common.git
[submodule "docker-sgx"]
	path = docker-sgx
	url = https://github.com/sebva/docker-sgx.git
[submodule "stress-sgx"]
	path = stress-sgx
	url = https://github.com/sebva/stress-sgx.git
[submodule "sgx-driver"]
	path = sgx-driver
	url = https://github.com/sebva/linux-sgx-driver.git
[submodule "kubernetes"]
	path = kubernetes
	url = https://github.com/sebva/kubernetes.git
	branch = sgx-deviceplugin
[submodule "heapster"]
	path = heapster
	url = https://github.com/kubernetes/heapster.git
[submodule "deviceplugin"]
	path = deviceplugin
	url = https://github.com/sebva/sgx-device-plugin.git
