[submodule "sgx-app/sgx_common"]
	path = sgx-app/sgx_common
	url = https://gitlab.securecloud.works/rafael.pires/sgx_common.git
[submodule "sgx-app-mem/sgx_common"]
	path = sgx-app-mem/sgx_common
	url = https://gitlab.securecloud.works/rafael.pires/sgx_common.git
[submodule "docker-sgx"]
	path = docker-sgx
	url = https://github.com/sebyx31/docker-sgx.git
[submodule "stress-sgx"]
	path = stress-sgx
	url = https://github.com/sebyx31/stress-sgx.git
[submodule "sgx-driver"]
	path = sgx-driver
	url = https://github.com/sebyx31/linux-sgx-driver.git
[submodule "kubernetes"]
	path = kubernetes
	url = https://github.com/sebyx31/kubernetes.git
	branch = sgx-deviceplugin
